<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>오목</title>
</head>
<style>
	#pap tr {
	border: 1px solid black;
}
	img{display: block;}
	td{padding: 0px;}
	
	#pan {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-color: grey;
}
</style>
<body>
	<table border="1" style="border-collapse: collapse; text-align: center;" id="pap">
		<caption>오목 경기</caption>
		<tr>
			<th>순서</th>
			<th>기보</th>
		</tr>
	{% for gibo in game %}
	{% endfor %}
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>
	<h3 id="winner"></h3>
	
	<table id="pan" border="0">
		<tr >
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
		<tr>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
		<tr>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
		<tr>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
		<tr>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
		<tr>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
		<tr>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
		<tr>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
		<tr>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
		<tr>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
			<td><img alt="" src="0.png"></td>
		</tr>
	</table>

</body>
<script src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
var arr = new Array();
{% for gibo in game %}
arr.push('{{gibo[2]}}')
{% endfor %}

$(document).ready(function(){
	myRender();
});
var idx = 0;
function myRender(){
	var imgArr = $("#pan img");
	
	for (var i = 0; i < imgArr.length; i++) {
		imgArr.eq(i).attr("src",arr[idx].charAt(i)+".png")			
	}
	
	idx++;
	if(arr.length <= idx ) {
		var resStr = {{game[0][3]}} == 1 ? "흑돌 승!!!!!!":"백돌 승....";
		$("#winner").text(resStr);
		alert(resStr);
		return;
	}
	setTimeout(myRender,500);
}
</script>
</html>